*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 240px;
}
.description{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin: 30px 0;
}
.color-primary{
    color: #E55473;
}
.btn-primary{
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin: 0;
}
.banner-title{
    color: #272727;
font-size: 80px;
font-weight: 700;
line-height: normal;
margin: 0;
}
header{
    background: rgba(229, 84, 115, 0.10);
    padding-top: 50px;
}
.banner-img img{
   margin-bottom: -4px;

}

/* main start */

section{
    margin-top: 130px;
}
.hot-deal{
    background-color: rgba(229, 84, 115, 0.05);

}
.hot-deal-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 0;
}
.hot-deal-section .col-1{
    width: 35%;
    text-align: center;
}
.hot-deal-title{
    color: #272727;
font-size: 40px;
font-weight: 800;
line-height: normal;
}
/* instagram section */
.instagram{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
}
.instagram-text-aria{
    text-align: center;
}
.instagram-text-aria h3{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.instagram-photos-aria{
    text-align: center;
}
.instagram-photos-aria img{
    width: 260px;
}
/* Get The Latest Deals section */

.latest-deals{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    height: 450px;
    margin: 0 auto;
    margin-top: 130px;
    text-align: center;
    /* background-color: #E55473; */
    background-image: url("https://i.ibb.co/Xkb9csW/deal-banner.png");
    background-size: 100%;
    background-repeat: no-repeat;
    
}

/* <img src="https://i.ibb.co/Xkb9csW/deal-banner.png" alt="deal-banner" border="0"> */
.latest-deals h3{
    color: #272727;
font-size: 40px;
font-weight: 800;
}
.latest-deals input{
    width: 600px;
height: 50px;
border: none;
border-radius: 8px;
background: #FFF;
padding: 0 20px;
margin: 5px;

box-shadow: 10px 10px 10px lightgray  ;

}
.email-and-button-field{
    display: flex;
    align-items: center;
}

.btn-deal{
    padding: 15px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin: 0;
}

/* footer section */
footer{
    background-color: #111010;
}
.footer-section{
    text-align: center;
    padding: 130px 0;
}
.footer-section h3{
    color: white;
font-size: 48px;
font-weight: 800;
}

.footer-section small{
    color: rgba(255, 255, 255, 0.40);
font-size: 16px;
font-weight: 400;
}
